@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';

:root {
   /* Relative value; determinate based on the largest item in the Navbar; currently NavActions */
   /* Sucks, but it works and accomplishes all goals in a decoupled, reusable manner. */
  --navbar-height: 56px;
}

@include media-breakpoint-down(lg) {
  .dash-layout-navbar .nav-link,
  .dash-layout-navbar .dropdown-item {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

.dash-layout-link-light {
  color: var(--white) !important;
}

#dash-layout-nav-actions-dropdown::after {
  display: none;
}

.dash-layout-nav-actions-toggle {
  color: var(--white) !important;
}

a.dash-layout-switch-warehouse:active {
  color: var(--white) !important;
}

a.dash-layout-logout:active {
  background-color: var(--danger) !important;
  color: var(--white) !important;
}

.dash-layout-container {
  min-height: calc(100vh - var(--navbar-height));
  height: -o-calc(100vh - var(--navbar-height)); /* opera */
  height: -webkit-calc(100vh - var(--navbar-height)); /* google, safari */
  height: -moz-calc(100vh - var(--navbar-height)); /* firefox */
}
