@import './theme/bootstrap';

html, body, #redwood-app {
  height: auto;
}

.palletized-container {
  // `padding-` is explicitly used, as opposed to `margin-` to not interfere with layout-size
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.details-table tr:first-child th, .details-table tr:first-child td {
  border-top: none;
}


.details-alert-container .react-loading-skeleton {
  width: 25%;
}
